<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.course.dao.OrdersDao" >
  <resultMap id="ordersResultMap" type="orders" >
    <id column="orders_id" property="ordersId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="orders_price" property="ordersPrice" jdbcType="DECIMAL" />
    <result column="is_buy" property="isbuy" jdbcType="BIT" />
  </resultMap>
  
  <insert id="insert" parameterType="orders">
  	insert into orders
  	(<include refid="Column" />)
  	values(#{userId},#{productId},#{ordersPrice},#{isbuy})
  </insert>
  
  <delete id="delete" parameterType="orders">
  	delete from orders where orders_id=#{ordersId}
  </delete>
  
  <update id="update" parameterType="orders">
  	update orders set 
  	user_id=#{userId},
  	product_id=#{productId},
  	orders_price=#{ordersPrice},
  	is_buy=#{isbuy}
  	where orders_id=#{ordersId}
  </update>
  
  <select id="select" parameterType="orders" resultMap="ordersResultMap">
  	select orders_id, <include refid="Column" /> 
  	from orders 
  	where orders_id=#{ordersId}
  </select>
  
  <sql id="Column" >
    user_id, product_id, orders_price, is_buy
  </sql>
 
</mapper>